* {
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: vertical;   
  width: 100%;
  font-family:sans-serif; 
}

form{
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.center{
  align-items: center;
}

.navbar{
  display: flex;
  gap: 20px;
  align-items: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.heading{
  margin: 20px;
  font-size: 45px;
  text-align: center;
}

.sub-heading{
  margin: 15px;
  font-size: 18px;
  color: gray;
  text-align: center;
}

@media (max-width: 600px) {
  .heading {
      font-size: 35px;
  }
}

.table_section{
  overflow-x: auto; 
}

table {
  margin: 0 auto;
  border-spacing: 0;
  width: 100%;
  min-width: 700px;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr{
  display: flex;
  align-items: center;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: #0070f3;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #005bb5;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #005bb5;
}

@media (max-width: 600px) {
  .pagination button {
      margin-top: 20px;
      padding: 6px 10px;
      font-size: 12px;
  }
}

.form-heading{
  font: 15px;
  font-weight: 400;
}

.form-input{
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.form-input > input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form-input > input:focus {
  border-color: #AAD6FF;
  box-shadow: 0 0 8px rgba(170,214,255,0.5);
}

.form-input > textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form-input > textarea:focus {
  border-color: #AAD6FF;
  box-shadow: 0 0 8px rgba(170,214,255,0.5);
}

.actions-buttons{
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.create-button{
  color: white;
  width: fit-content;
  align-self: end;
  border: 0px;
  background: #4bb543;
  padding: 10px 15px;
  margin: 20px 0;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.create-button:hover:not(:disabled) {
  background-color: #4bb543d5;
}

.update-button {
  color: white;
  background-color: #0070f3;
  outline: none;
  font-size: 16px;
  border: 0px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
}

.update-button:hover {
  background-color: #0071f3d3; 
}

.delete-button {
  color: white;
  outline: none;
  border: 0px solid transparent;
  background-color: #e63946;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  padding: 5px 10px;
}

.delete-button:hover {
  background-color: #d62839d4; 
}

.update-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  min-width: 300px;
}

.form-input textarea{
  height: 200px;
}

.deletePage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.deletePageTitle {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; 
}

.warning-text {
  font-size: 16px;
  color: #f44336;
  margin-bottom: 20px;
  margin-top: 0px;
}

.deletePageButtons{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.cancel-button{
  background: gray;
  padding: 7px 15px;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: white;
}